.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    background: var(--header-background-color);
    color: white;
    padding: 0 var(--padding-large);
}

.logo {
    filter: invert(100%);
    animation: fadeInLogo 1s ease-in-out;
}

.title {
    font-size: 1.5rem;
    opacity: 0;
    animation: fadeInTitle 1.5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}