.repo-search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.repo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.id-name {
  margin-bottom: 7px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
