.repositories-container {
  padding: 15px;
}

.repositories-container h1 {
  text-align: center;
  margin: 15px;
}

.repo-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  width: 100% !important;
}

.repo-search-bar .search-box {
  width: 50% !important;
}

.repo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.id-name {
  margin-bottom: 7px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
