.loaderContainer {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: rgb(29, 228, 29);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.orbit {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: rotateBraces 2s linear infinite;
}

.braceLeft, .braceRight {
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: absolute;
}

.braceLeft {
  left: -15px;
}

.braceRight {
  right: -15px;
}

@keyframes rotateBraces {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
