.form {
  color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  min-width: 60vw;
  margin: 0 auto;
  font-size: 1rem;
}

.form h5 {
  margin: var(--margin-tiny) 0;
  padding: var(--padding-tiny) 0;
}

.form p a {
  font-size: 1em;
}

.form input {
  background: #131010;
  border: 1px solid #4F4D4D;
  color: #A5FF93;
  padding: 8px;
  margin: 5px 0;
  width: -webkit-fill-available;
  border-radius: 4px;
}

.form input::placeholder {
  color: #AEAEAE;
}

.form button {
  background: #8FE6EF;
  color: #000000;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
  box-shadow: none;
}

.form button:hover {
  background: #53FF83;
}

.success {
  color: #A5FF93;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: #FF5353;
  padding: 10px;
  margin-bottom: 10px;
}

.domain {
  display: flex;
  flex-direction: column;
}

.domainField,
.envField {
  display: flex;
  gap: 10px;
}

.submitButton {
  width: 100%;
}

.generatedDomain {
  font-size: 0.6em;
  flex-wrap: wrap;
}